.errMsg{
    background: rgb(255, 255, 255);
    color: rgb(249, 133, 0);
    text-align: center;
    padding: 0px 0; 
}

.successMsg{
    background: rgb(255, 255, 255);
    color: rgb(249, 133, 0);
    text-align: center;
    padding: 0px 0; 
}

